<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-jxO3zfNAhNwr32qQw44wc_rLEyn-i9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>86339380337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.limonChatApp</string>
	<key>PROJECT_ID</key>
	<string>lemonchatapp-b6ddc</string>
	<key>STORAGE_BUCKET</key>
	<string>lemonchatapp-b6ddc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86339380337:ios:30f49ae40ed054b6eda7d0</string>
</dict>
</plist>